<section class="news-banner">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <h2 class="section-header" id="news-block">Important News &amp; Events</h2>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          
          <h3>See the new Electronic Document Management</h3>
          <%= image_tag 't3-training-small.jpg', class: "pull-right pad-left", width: "160" %>
          <p>The Electronic Document Management System (EDMS) is being piloted soon and these sessions are an opportunity to see first hand how it works</p>
          <%= link_to 'Book your session now', "/news/electronic-document-management-system-in-action.html", class: "btn btn-primary" %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          
          <h3>Train to use the new Electronic Patient Record system</h3>
          <%= image_tag 'nurses-with-computers.jpg', class: "pull-right pad-left", width: "160" %>
          <p>Training dates are now available for medical staff to use the new Lorenzo EPR system</p>
          <%= link_to 'Book your session now', "/news/see-lorenzo-in-action.html", class: "btn btn-primary" %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
         
          <h3>Hospital of the future open</h3>
           <%= image_tag 'touch_screen.jpg', class: "pull-right pad-left", width: "160" %>
          <p>We are one of the first hospitals in the country to have a ’Hospital of the Future’ innovation centre - an ideal environment for staff to come and try out our new technology</p>
          <%= link_to 'Read more', "/programme/training.html#hospital-of-the-future", class: "btn btn-primary" %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
         
          <h3>Do you have a smart card?</h3>
           <%= image_tag 'id_card.jpg', class: "pull-right pad-left", width: "160" %>
          <p>It is estimated that around 4,000 staff need to get a new or updated Smartcard to get secure access to the new systems being implemented as part of Transformation Through Technology.</p>
          <%= link_to 'Read more', "/news/smart-card-sessions.html", class: "btn btn-primary" %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
					
          <h3>Clinical Portal set to go live this Autumn </h3>
          <%= image_tag 'news_block_one.jpg', class: "pull-right pad-left", width: "160" %>
          <p>Sheffield Teaching Hospitals appoint HP Enterprise Services UK to develop new clinical portal to go live in August 2015</p>
          <%= link_to 'Read more', '/news/clinical-portal-set-to-go-live-this-autumn.html', class: "btn btn-primary" %> 
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
					
          <h3>Trust given go ahead for new Electronic Patient Record system</h3>
          <%= image_tag 'therapist-on-computer-small.jpg', class: "pull-right pad-left", width: "160" %>
          <p>Five year programme set to get underway at Sheffield Teaching Hospitals NHS Foundation Trust after a successful bid to attract Department of Health funding for a new Electronic Patient Record system</p>
          
          <%= link_to "Read more", "/news/hospital-of-the-future-opens-its-doors.html", class: "btn btn-primary"  %>
        </div>
      </div>
    </div>
  </div>
</section>