---
title: "Clinical Portal set to go live this Autumn - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li><%= link_to 'News & Events', "/news.html" %></li>
        <li class="active">Clinical Portal set to go live this Autumn</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <article class="well">
          <h2>Clinical Portal set to go live this Autumn</h2>
          <p class="lead">Sheffield Teaching Hospitals appoint HP Enterprise Services UK to develop new clinical portal to go live in August 2015</p>
					<p>The portal will bring together patient information and results from different departments and, ultimately, other NHS organisations, in a bid to give a total picture of a patient's care.</p>
					<p>Dr David Throssell, Trust Medical Director explains: “We need to have a complete picture of each patient when providing care. This portal will act as an umbrella across a number of our systems, meaning hospital and community health staff will only have to log in once to view different patient information systems.</p>
					<p>It will enable a single, clinical view of every patient and enable more joined-up working between community, acute and primary care professionals. The more information we have, the better the quality of care we can offer. The portal will give us the ability to access key patient information, wherever we are. Many of our staff work outside the hospital in the community or patients' homes and having the right information available is key.</p>
					<h4>The facts</h4>
					<p>The clinical portal will enable clinicians and other staff to get a holistic view of each patient's records and any other associated results and information about a particular patient. You will be able to log on with a single password which will then take you to a 'landing page' where you can view all the relevant information</p>
				
				</article>
        
        <div class="well">
          <p><%= link_to 'Clinical Portal', "/programme/training.html" %> <%= link_to "Back to News & Events", "/news.html", class: "pull-right" %></p>
        </div>
      </div>
      
      <div class="col-md-4" role="aside"> 
				<%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
        <%= partial 'partials/smartcard' %>
      </div>
      
    </div>
  </div>
</section>