---
title: See the Electronic Document Management System (EDMS) in action
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li><%= link_to 'News & Events', "/news.html" %></li>
        <li class="active">See the Electronic Document Management System (EDMS) in action</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <article class="well">
          <h2>See the Electronic Document Management System (EDMS) in action</h2>
          <p class="lead">The Electronic Document Management System is being piloted soon and once successfully piloted will be rolled out over a twelve month period</p>
				  <p>The sessions are aimed at anyone who handles patient casenotes and who will be affected by the introduction of digital case note management. Everyone is welcome to attend</p>
          <p>A number of overview sessions have been set up before 27th May.</p>
          <p>To book a place please login to PALMS:</p>
          <a href="http://sheffieldpalms.org/mod/facetoface/view.php?f=42331" class="btn btn-info">Book now via PALMS</a>
          
          <section id="available-sessions">
          <h3>Available Sessions</h3>
            <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th> </th>
                      <th>RHH</th>
                      <th>NGH</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Tuesday 5th May 2015</td>
                      <td> </td>
                      <td>Lecture Theatre 1, MEC, NGH Session start times 1.15pm, 2.15pm &amp; 3.15pm</td>
                  </tr>
                  <tr>
                      <td>Wednesday 6th May 2015</td>
                      <td>Lecture Theatre 2, B Floor, Medical School RHH Session start times 12.15pm, 1.15pm, 2.15pm &amp; 3.15pm</td>
                      <td> </td>
                  </tr>
                  <tr>
                      <td>Friday 15th May 2015</td>
                      <td>Lecture Theatre 2, B Floor, Medical School RHH Session start times 12.15pm, 1.15pm, 2.15pm &amp; 3.15pm</td>
                      <td> </td>
                  </tr>
                  <tr>
                      <td>Monday 18th May 2015</td>
                      <td>Lecture Theatre 3, F Floor, Medical School RHH Session start times 12.15pm, 1.15pm, 2.15pm &amp; 3.15pm</td>
                      <td>Lecture Theatre 1, MEC, NGH Session start times 9.15am, 10.15am &amp; 11.15am</td>
                  </tr>
                  <tr>
                      <td>Wednesday 27th May 2015</td>
                      <td> </td>
                      <td>Lecture Theatre 2, MEC, NGH Session start times 9.15am, 10.15am &amp; 11.15am</td>
                  </tr>
              </tbody>
          </table>
        </section>
          
          
        </article>
        
        
        
        <div class="well">
          <p><%= link_to 'Training', "/programme/training.html" %><%= link_to "Back to News & Events", "/news.html", class: "pull-right" %></p>
        </div>
      </div>
      
      <div class="col-md-4" role="aside"> 
				<%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
          
      </div>
      
    </div>
  </div>
</section>