---
title: "New laptops helping community staff spend more time on patient care - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li><%= link_to 'News & Events', "/news.html" %></li>
        <li class="active">New laptops helping community staff spend more time on patient care</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <article class="well">
          <h2>New laptops helping community staff spend more time on patient care</h2>
          <p class="lead">Nearly 750 new Dell laptops have been rolled out in Community Services to provide better facilities for mobile working and enable staff to reduce travel time and spend more time on patient care.</p>
          <%= image_tag "news_block_one.jpg", class: "pull-right pad-right" %>
          <p>The new laptops, which replace Toughbooks, mean that all the necessary patient information is available at the visit, such as sample results and GP consultations. It also reduces the need to return to the office to do admin tasks, meaning that there is more time to spend with patients.</p>
          <p>Project Manager Mike Parkinson said: “To develop and deploy a mobile solution to Toughbooks has been a challenge to say the least.
              “Now we near the end of the rollout it’s become clear that with the correct support and a positive staff approach, the project is proving to be a success."
          </p>
          <p>The new laptops have been very positively received by staff in the Community:</p>
          
          <blockquote>
            <p>“The new laptops mean that all the  patient information we need is available at the patient visit and can be updated there and then. I foresee this saving us time and ensuring documentation is accurate at the time patient care is delivered.”</p>
            <footer>Claire Hollingsworth, District Nurse</footer>
          </blockquote>
          
          <blockquote>
            <p>“I love it. I feel less pressured and am able to go straight out to visits so I can spend more time with patients. It’s made a big difference to my working day.”</p>
            <footer>Amanda Bedford, Community Staff Nurse</footer>
          </blockquote>
          
          <blockquote>
            <p>“The new laptops are marvellous! I was doing a training session and just opened the laptop, connected with a HDMI cable to the screen and away we went.”</p>
            <footer>Paul Thorpe, Specialist Mental Health Nurse</footer>
          </blockquote>
          
          <blockquote>
            <p>“I can see the potential. I think it will make a considerable difference to the flexibility of staff and time efficiency.”</p>
            <footer>Andrea Shearer, Specialist Occupational Therapist</footer>
          </blockquote>

        </article>
        
        <div class="well">
          <p><%= link_to 'Training', "/programme/training.html" %> <%= link_to "Back to News & Events", "/news.html", class: "pull-right" %></p>
        </div>
      </div>
      
      <div class="col-md-4" role="aside"> 
				<%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
          
      </div>
      
    </div>
  </div>
</section>