---
title: "New Managed Print Contract - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li><%= link_to 'News & Events', "/news.html" %></li>
        <li class="active">New Managed Print Contract Announced</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <article class="well">
          <h2>New Managed Print Contract Announced</h2>
          <p class="lead">During the last six weeks a team from Xerox have been visiting wards and departments to look at numbers and locations of printers, scanners and fax machines</p>
          <p>This is part of the Trust’s new managed print contract which will provide a number of benefits to staff in terms of more machines and improved processes to make printing easier.</p>  
          <p>Recommendations on the appropriate number of machines and how they are used in future will be considered at the end of May. This will include the introduction of personal ‘follow me printing’ so staff can use any machine by scanning in their Smartcard</p>
          <p>Operations directors will then be involved in agreeing and implementing the changes, in line with the Trust’s proposed print policy to be agreed later this year.</p>
          <p>If you have any questions, please contact Jason White, Xerox Project Manager via <a href="mailto:Jason.white@sth.nhs.uk">Jason.white@sth.nhs.uk</a></p>
          
				</article>
        
        <div class="well">
          <p><%= link_to 'About the programme', "/programme.html" %> <%= link_to "Back to News & Events", "/news.html", class: "pull-right" %></p>
        </div>
      </div>
      
      <div class="col-md-4" role="aside"> 
				<%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
        <%= partial 'partials/smartcard' %>
      </div>
      
    </div>
  </div>
</section>