---
title: Sessions available to get your new Smart card
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li><%= link_to 'News & Events', "/news.html" %></li>
        <li class="active">Sessions available to get your new Smart card</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <article class="well">
          <h2>Sessions available to get your new Smart card</h2>
          
          <p class="lead">Get your new Smart card ready before the new system comes in place</p>
          
				  <p>
            All staff can now register for their smartcard from 7am for the next two weeks at both hospital sites.
            There are only a few weeks remaining to register for smartcards to ensure you are ready for the new systems.
          </p>
          
          <p>
            Please call ext.15269 to make an appointment. You will need to bring some identification documents with you to register for a smartcard - <a href="#requirements">see here for more details about the documents required</a>
          </p>
          
          <p>
            We also have drop in sessions for Jessop Wing staff from Monday 17th August – Thursday 20th August 7am – 8:30am  in the seminar room on the neonatal unit (no appointments needed, JW staff only).
          </p>
          
          <p>Please contact <a href="mailto:TransformationTrainingAdmin@sth.nhs.uk">TransformationTrainingAdmin@sth.nhs.uk</a> if you have any questions.</p>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="5">Northern General Hospital</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday 17 August</td>
                        <td>Tuesday 18 August</td>
                        <td>Wednesday 19 August</td>
                        <td>Thursday 20 August</td>
                        <td>Friday 21 August</td>
                    </tr>
                    <tr>
                        <td>10:00 – 12:00 Brearley 3 Ward Manager’s office</td>
                        <td>10:00 – 12:00 Brearley 3 Ward Manager’s office </td>
                        <td>10:00 – 12:00 Hadfield 1 Day room </td>
                        <td>10:00 – 12:00 Hadfield 1 Day room </td>
                        <td>08:00 – 12:00 Theatres Seminar room </td>
                    </tr>
                    <tr>
                        <td>13:00 – 15:00 Sorby/Renal E Renal Training room</td>
                        <td>13:00 – 16:00 Theatres Resource room</td>
                        <td>13:00 – 16:00 Theatres Resource room</td>
                        <td>13:00 – 15:00 Sorby/Renal E Renal Training room</td>
                        <td>13:30 – 15:30 Huntsman H7 E-bay</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th colspan="5">Royal Hallamshire Hospital</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Monday 17 August</td>
                      <td>Tuesday 18 August</td>
                      <td>Wednesday 19 August</td>
                      <td>Thursday 20 August</td>
                      <td>Friday 21 August</td>
                  </tr>
                  <tr>
                      <td>9:30 – 11:30 Q floor Q1 ward</td>
                      <td>9:30 – 11:30 E floor E2 seminar room </td>
                      <td></td>
                      <td>9:30 – 11:30 Q Floor Q1 ward </td>
                      <td>9:30 – 11:30 E floor E2 seminar room</td>
                  </tr>
                  <tr>
                      <td>12:30 – 14:30 A Floor Seminar room</td>
                      <td>12:30 – 14:30 K Floor K1 Seminar room</td>
                      <td>12:30 – 14:30 K floor K1 Seminar room</td>
                      <td>12:30 – 14:30 A floor Seminar room</td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          
          <p>Please contact <a href="mailto:alyson.whitfield@sth.nhs.uk">alyson.whitfield@sth.nhs.uk</a> if you have any questions, or call the Systems Access team on ext 15269.</p>
          
          <section id="requirements">
            <h3>Identification documents required for smartcard registration</h3>
            <ul>
              <li>Two forms of national photographic ID (valid passport, driving licence, residency permit) and one proof of address in your name (recent bill or statement, not printed from the internet)</li>
              <li>One form of national photographic ID (valid passport, driving licence, residency permit) and two proofs of address in your name (from different companies, in your name, not printed from the internet)</li>
            </ul>
          </section>
          
        </article>
        
        
        
        <div class="well">
          <p><%= link_to 'Training', "/programme/training.html" %><%= link_to "Back to News & Events", "/news.html", class: "pull-right" %></p>
        </div>
      </div>
      
      <div class="col-md-4" role="aside"> 
				<%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
          
      </div>
      
    </div>
  </div>
</section>
