---
title: Clinical Portal (CP)
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Clinical Portal (CP)</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "index.html" %></li>
        <li><%= link_to 'About', "programme.html" %></li>
        <li class="active">Clinical Portal (CP)</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What is the Clinical Portal?</h2>
          <p class="lead">A clinical portal is a web based system that provides a single, unified view of patient information</p>
          <p>The Clinical Portal will brings together patient information and results from different departments and specialities and also other NHS organisations, giving you a total picture of a patient's care. </p>
          <h4>How will it work?</h4>
					<p>We are purchasing new technology to join up many of our current computer systems. This will enable us to have one single log in, enhanced patient searching and provide a number of views of different patient information across multiple locations. It will mean no more logging in and out of different systems, such as ICE, PACs, System One etc, to access and search patient information.</p>
					<blockquote>The Clinical Portal will give people the option of working remotely and having the right information available in off site and onsite clinics.
											<footer>Helen Brown, Nurse Director</footer>
					</blockquote>
					<p>Users of the system will be able to log onto it via a PC, laptop, tablet device or handheld (palmtop) device. This will give people the option of working remotely and having the right information available in off site and onsite clinics. You will be able to log on with a single password (single sign on) which will then take you to a 'landing page' where you can view all the relevant information. The clinical portal brings together all the information required to care and treat our patients.</p>
					<h4>Will we be able to share information with other members of the MDT and across the NHS?</h4>
					<p>The clinical portal will give us the technology to talk to other NHS organisations. We will be able to share information and get expert advice. It will also allow for better multidisciplinary working as staff will be able to share information across sites with Multi Disciplinary Team staff, discussing patient care and helping with decision making and diagnosis.</p>
				</div>
        
        <div class="well">
          <h2>Key benefits</h2>
          <p>Patients deserve and expect the best care. If we are to remain one of the leading NHS hospital trusts in the country, we need harness this new technology.</p>
					<p>A clinical portal will make our working lives much easier and give us the information we need to provide better patient care. We need to have a complete picture of each patient. The more information we have, the better the quality of care and treatment we can offer. A clinical portal will give us the ability to access everything we need to know, wherever we are and with one click of a button.</p>
					<h4>Improving the patient experience</h4>
					<p>Patients tell us they want quicker, more joined up care. They do not like having to repeat information about themselves to multiple departments and members of staff. </p>
					<p>The clinical portal will mean staff do not have to keep asking patients the same questions. Once the information has been inputted into one system, it can be viewed via the clinical portal. Drug information, diagnosis results and other important information about the patient's history will be instantly available across all the different systems, through this new clinical portal. This will vastly improve the overall patient experience within the hospital and when visiting our satellite clinics</p>
					<h4>Better multidisciplinary working</h4>
					<p>Strong and well informed multidisciplinary working is vital for high quality patient care. The clinical portal will enable nurses, multidisciplinary teams of healthcare professionals to share and discuss patient information more securely and easily, rather than having to look at lots of different computer systems. </p>
					<h4>Security of patient information</h4>
					<p>The clinical portal contains a sophisticated auditing facility so that it records who has used and viewed each bit of information about the patient. This information is not only vital for security, it will provide us with lots of useful information about how we work and treat patients. Patients will have the right to give consent to the sharing of their health care record.</p>
					<h4>Making us more efficient</h4>
					<p>Having the clinical portal and the single sign on will allow us to be more efficient by:</p>
					<ul>
						<li>Saving time logging into various different departmental computer systems to find out about each patient</li>
						<li>Saving time searching for information</li>
						<li>Enabling mobile working and quicker access to the right information when we need it</li>
						<li>Quicker diagnosis of patients</li>
						<li>No waiting to get vital information which can only be accessed on site</li>
						<li>More accurate information which in turn will lead to better decisions and better outcomes</li>
						<li>Real time information so better informed staff</li>
					</ul>
					<h4>Supporting the paperless NHS</h4>
					<p>The NHS has committed to being paperless by 2018. We therefore need to continue the drive to reduce the need for paper forms, requests and case notes. Introducing a clinical portal to speed up the availability of patient information is part of this process.</p>
				</div>
      </div>
      
      <div class="col-md-4" role="aside">
				
				<%= image_tag 'staff_cp_web.jpg', class: "img-well-block" %>
				
				<div class="well">

						<p class="lead"><i class="fa fa-quote-left"></i> A clinical portal will give us the ability to access everything we need to know, wherever we are and with one click of a button. <i class="fa fa-quote-right"></i></p>
						<p class="font-color-main">Dr Rhona Maclean, Chief Clinical Information Officer &amp; Consultant Haematologist</p>

				</div>
        
      	<%= partial 'partials/champion' %>
        <%= partial 'partials/contact' %>
        <%= partial 'partials/smartcard' %>
        
        <div class="well">
          <h3>Further resources</h3>
          <h4>Project Newsletter - March</h4>
							<% link_to '/files/march_newsletter.pdf' do %>
								<%= image_tag 'news_march_2015.jpg', width: "150" %>
							<% end %>
          
          <h4>Clinical Portal Newsletter - Sept</h4>
							<% link_to '/files/cp_newsletter_sept.pdf' do %>
								<%= image_tag 'news_cp_sept.jpg', width: "150" %>
							<% end %>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<%= partial '/partials/news_block' %>