---
title: Electronic Patient Record (EPR)
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Electronic Patient Record (EPR)</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "index.html" %></li>
        <li><%= link_to 'About', "programme.html" %></li>
        <li class="active">Electronic Patient Record (EPR)</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What is an Electronic Patient Record (EPR)?</h2>
          <p class="lead">EPR is a high-tech electronic patient record system which will modernise and improve the way we deliver patient care across the Trust</p>
					<p>Introducing an EPR system will mean all patient information will be available electronically, on screen, at any hospital location, at any time. It will transform the way we admit, treat and discharge our patients. It will improve referral management, reducing the number of cancellations and rescheduled appointments. It is the first step to allow us ultimately to share patient records with other appropriate NHS organisations</p>
					
					<h4>How will it work?</h4>
					<p>In Autumn 2015 we will be introducing state-of-the-art Electronic Patient Record technology which will allow us to create a comprehensive patient record. We will be able to record, view and store all patient information electronically at any hospital or community health location at any time.</p>
					
					<h4>When will it happen?</h4>
					<p>We will go live with the system in Autumn 2015. A robust business case has been approved by the Trust Board and after careful evaluation we have chosen Lorenzo as the system we will use.  We are currently examining all our current data and inputting systems to ensure all the information we store is accurate and valid. This 'validation process' is very important when we move over to the new system.</p>
        </div>
        
        <div class="well">
          <h2>Key Benefits</h2>
					<%= image_tag "touchscreen_laptop_web.jpg", class: "hidden-xs pull-right pad-left", height: "400"  %>
          <p class="lead">Patients deserve and expect the best care. If we are to remain one of the leading NHS hospital trusts in the country, we need to have up-to-date and accurate information about our patients</p>
					<h4>Improving patient care</h4>
					<p>Currently patient information is collected in a number of different ways and using different computer systems. Our systems are limited in what they can do and they can’t always be accessed in all areas of the hospital and community sites. We often have a very disjointed way of collecting and viewing our patient information. The new system will give us a full patient record, available in multiple locations which will improve how we care for our patients.</p>
					<h4>Improving the patient experience</h4>
					<p>By providing clinicians with all the information they need, at all times across the Trust in a single patient record, we will vastly improve the patient experience. Patients will have the confidence that we are working on their care in a joined up way.</p>
					<p>Currently patients often have to give the same information to different members of staff several times or undergo repeated tests because there is no electronic record to access. There can sometimes be delays in accessing paper medical records because they may be being used by a different department or member of staff. Reducing paperwork and repetition will free up staff to spend on direct patient care. </p>
					<p>EPR will provide the most recent and accurate information, enabling faster diagnoses, treatment plans and discharge processes for the patient. </p>
					<p>Treatment plans will be more personalised as the clinician can refer to the patient's journey immediately and share information with other health professionals across the pathway to create a more tailored and effective care package. </p>
        	<ul class="">
						<li>Electronic clinic management which will reduce cancellations, missed appointments and waiting times</li>
						<li>Electronic prescriptions which will help patients get their medications more quickly.</li>
					</ul>
				</div>
					
				<div class="well">
					
					<h3>Additional Benefits</h3>
					<%= image_tag "stock_laptop.jpg", class: "hidden-xs pull-right pad-left", height: "250"  %>
					<p>As well as the previous benefits, moving towards an Electronic Patient Record system will have the following benefits:</p>
					<div class="question-group" id="accordion additional-benefits" role="tablist" aria-multiselectable="true">
				
					    <div class="question-heading" role="tab" id="headingOne">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Simplifying appointments and clinic management
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<p>EPR will transform the way we admit, treat and discharge our patients. It will improve referral management, reducing the number of cancellations and rescheduled appointments.</p>
							</div>
						
						<div class="question-heading" role="tab" id="headingTwo">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
										Maximising capacity
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
								<p>EPR will enable us to maximise the use of beds for patient care. It will enable advanced bed management with planned discharge dates and estimated length of stay.</p>
							</div>
						
						<div class="question-heading" role="tab" id="headingThree">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
										Improved patient safety
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
								<p>A single patient record will reduce the risk of human error and give us more accurate information about our patients and the care we provide.</p>
							</div>
						
						
							<div class="question-heading" role="tab" id="headingFour">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
										Improved Security of patient information
									</a>
								</h4>
							</div>
						<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
							<p>By reducing paper forms and records, we will improve security of patient information </p>		
						</div>
						
						
					<div class="question-heading" role="tab" id="headingFive">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
										Increased efficiency and Performance
									</a>
								</h4>
							</div>
						<div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
							<p>Over the long term EPR promises to enhance our performance and efficiency</p>		
							<p>We will be able to produce quicker, more accurate data about how the hospital is performing. In time, we expect this will significantly enhance our performance as a hospital Trust.</p>
							<p>Data about each patient will only have to be inputted once, avoiding repeated patient questions and wasted time. We will also reduce the amount of postage and faxing we have to do.</p>
						</div>
						
						
						<div class="question-heading" role="tab" id="headingSix">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
										Reduce drug budget
									</a>
								</h4>
							</div>
						<div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
							<p>By introducing electronic prescribing, we expect to reduce the amount of money we spend on drugs across the Trust.</p>		
							</div>
						
						<div class="question-heading" role="tab" id="headingSeven">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
										Share data
									</a>
								</h4>
							</div>
						<div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
							<p>EPR will allow us to share patient information with other health organisations to improve patient care. This will save time transferring patient casenotes and information by post or fax. Multi-disciplinary working across sites will also be enhanced.</p>
						</div>
						
						
						<div class="question-heading" role="tab" id="headingEight">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
										Provide an up to date and fit for purpose system
									</a>
								</h4>
							</div>
						<div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEight">
							<p>Our current patient administration system (PatientCentre) is not fit for purpose and its contract expires in 2015. It does not allow us to move towards being paperless and it has many barriers to future working. In line with the whole of the NHS, we are committed to improving the quality of information to improve the health of our patients. Improved information will also help us:</p>
								<ul>
									<li>Empower our patients to get involved in decisions about their care</li>
									<li>Facilitate and drive integration within the Trust and between other partner organisations</li>
									<li>Inform local health and wellbeing strategies</li>
									<li>Drive greater efficiency and productivity</li>
								</ul>
						</div>
						
						<div class="question-heading" role="tab" id="headingNine">
								<h4>
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
										Enable us to go paperlite
									</a>
								</h4>
							</div>
						<div id="collapseNine" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingNine">
							<p>The NHS has committed to being paper-less by 2018. Introducing a new EPR will help us move from a paper heavy organisation to a paper-lite organisation by reducing the amount of paper clinicians use.</p>
						</div>
					</div>
					
				</div>
				
				
				<%= partial 'partials/champion' %>
				<%= partial 'partials/smartcard' %>
        
      </div>
      
      <div class="col-md-4" role="aside">
				
				<%= image_tag 'staff_epr_web.jpg', class: "img-well-block" %>
				
				<div class="well">
					<h3>Frequently Asked Questions</h3>
					<h5>Has this been done at other hospitals?</h5>
					<p>Yes. Our programme team have visited other hospitals which already use more up-to-date EPR systems. Each system is slightly different as it is adapted for the hospital.</p>
					<h5>How do we know it will work at this Trust?</h5>
					<p>We have held workshops and demonstrations with staff and looked closely at how the systems can be applied to this Trust.</p>
					<h5>How will we train staff to use the new system?</h5>
					<p>The aim is to start training staff over the Spring and Summer of 2015. It will take some time to train all our staff so it's really important that people put time aside to get this training over the next few months. Some staff may also need to update their SMART cards as these need to be correct in order to access the new EPR.</p>
					<h5>Is there a demonstration available to show how the EPR works?</h5>
					<p>Yes, there is a demonstration which describes a patient's journey, called 'William's journey' <a href="../files/williams_story_EPR.pdf" alt="A presentation explaining how an example patient would experience the new system">which can be downloaded here</a>.</p>
					<h5>Is the new EPR system compatibility with the renal proton system?</h5>
					<p>The new EPR system will interface with the current PROTON system in exactly the same way as Patient Centre. With the new Clinical Portal staff will be able to use a single log-on to view all the different departmental systems.</p>
					<h5>Is the Trust going to use electronic prescribing?</h5>
					<p>We are one of nine hospital Trusts evaluating a new electronic inpatient prescribing system which may be implemented as part of our Electronic Patient Record. As part of this assurance process, we have taken part in national testing and evaluation, led by the HSCIC (Health and Social Care Information Centre) which is the national provider of information, data and IT systems across the health and social care sector. A team from the Trust visited University Hospitals of Morecambe Bay NHS Foundation Trust in August to view the inpatient prescribing system in use on a ward.</p>
					<h5>Will the EPR help support the delivery of the 18 week referral to treatment standard?</h5>
					<p>The EPR incorporates the 18 week pathway recording and detailed work is being undertaken with the supplier of the system to confirm that this will meet the Trust's requirements.</p>
					<h5>Each Clinical Nurse Specialist team has their own mode of documenting patient interactions - in clinic, on ward visits and for telephone calls. What plans are there to incorporate these into the electronic systems?</h5>
					<p>These issues will be worked through over the coming months. Some staff will need to change the way they currently work and there may be more than one option for some of these. A Chief Clinical Information Officer (Nursing) and an Operational Change Manager (Nursing) have been appointed (see the Meet the Team section on this website) to ensure the needs of the nursing workforce are known and incorporated into the programme.</p>
					<h5>We currently ask patients to sign a form to consent to an operation or procedure. How will this be done in future? Will this be done electronically too?</h5>
					<p>The consent process will not change. Consent will be taken in clinic as it happens now. The consent form will be retained with any pathway or pre-op documentation and passed through the pre-op and admissions process where consent will be reconfirmed and acknowledged as per the current practice. Electronic consent is likely to be developed in the future, utilising any number of hand held devices or tablets, combined with electronic forms.</p>
					<h5>Is neonatology going to using the new EPR system?</h5>
					<p>The current JAMIS system will stay. Anything staff currently do in the Patient Centre, they will do in the future in the new EPR system.</p>
				</div>
       
        
        <%= partial 'partials/contact' %>
        
        
        <div class="well">
          <h3>Further resources</h3>
          
          <% link_to "/files/williams_story_EPR.pdf" do  %>
            <h4>How would the EPR system work? - William's Story</h4>
          <% end %>
         
					
           <h4>Project Newsletter - March</h4>
							<% link_to "/files/march_newsletter.pdf" do %>
								<%= image_tag 'news_march_2015.jpg', width: "150" %>
							<% end %>
					
					<h4>Electronic Patient Record Newsletter - Sept</h4>
							<% link_to "/files/epr_newsletter_sept.pdf" do %>
								<%= image_tag 'news_epr_sept.jpg', width: "150" %>
							<% end %>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<%= partial '/partials/news_block' %>