---
title: Transformation Through Technology
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Training</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li><%= link_to 'About', "/programme.html" %></li>
        <li class="active">Training</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>Staff training</h2>
          <p class="lead">Training to use the new systems will take place during 2015</p>
          <%= image_tag 't3-training-small.jpg', class: "pull-right pad-left" %>
					<p>However, staff can already familiarize themselves with the systems and how the changes will affect them by attending the change workshops and demonstrations. The main training period for each project will be during the eight to 12 weeks prior to the ‘Go live’ dates for each one.</p>
          <p>However, we will be offering general IT training on a rolling programme over the next 12 months. If any staff have concerns about IT literacy skills, they should highlight this now with their line manager.</p>
          <ul>
            <li> Attend a demonstration or workshop</li>
            <li>Updates on this site</li>
            <li>Contact the programme team if you would like more details for your department</li>
          </ul>
          <p>Training will include:</p>
          <ul>
            <li>Face to face practical sessions</li>
            <li>E-learning, tailored to job roles and tasks</li>
            <li>Supporting literature including crib sheets, flow charts and aid memoirs as follow up to formal training</li>
          </ul>
          <p>Other support for staff will include:</p>
          <ul>
            <li> Series of FAQ to deal with reoccurring themes and problems</li>
            <li>Support from floor walkers at Go Live</li>
            <li>Back up team and named helpers available to give support</li>
            <li>Care Group Operational Change Leads ( to be appointed later this year)</li>
          </ul>
          <p>The main focus will be on training sessions for small groups of staff within their work place. Staff will be booked onto the training sessions by their line managers, so service provision within clinical areas can be maintained.</p>
          <a href="mailto:transformation@sth.nhs.uk" class="btn btn-primary">Get in touch about training</a>
        </div>
				
				
        
        <div class="well" id="hospital-of-the-future">
          <h2>Hospital of the Future Training Center</h2>
          <p class="lead">We are one of the first hospitals in the country to have a ‘Hospital of the Future’ innovation centre</p>
          <p>The Hospital of the Future is a fully equipped clinical environment which includes our planned clinical information systems, so staff can experience, influence and familiarise themselves with how our business will operate in the future.</p>
          <%= image_tag 'touch_screen.jpg', class: 'pull-left pad-right' %>
          <p>It is a showcase environment which recreates the patient pathway and demonstrates how technology will support the delivery of the three projects - EPR, EDMS and Clinical Portal. Staff are able to see how patient data flows through the system in practice and see the impact of interactions between care professionals and departments along the patient pathway. Some of our testing and staff training will also take place in our new Hospital of the Future.</p>
          <p>Hospital of the Future is located on B floor of the Royal Hallamshire Hospital (where the former Admissions Assessment Unit (AAU) was located). This is a very exciting project as we will be one of the only hospitals in the country to benefit from this type of showcase area. This is an ideal place for people to come and see first-hand how we are changing the way we work.</p>        
          <p>We are also inviting our future suppliers to support the facility by using it to demonstrate future technologies. We will keep you updated on news about Hospital of the Future here.</p>    
        </div>
        
        <%= partial 'partials/smartcard' %>
        
      </div>
      
      <div class="col-md-4" role="aside">
        <div class="well">
          <h3>Have you visited the Hospital of the Future yet? </h3>
          <p>You will soon have the chance to explore the three new systems – EPR, EDMS and Clinical Portal – via an e-demonstration.  Our e-learning lead Harminder Sangha is currently working on three familiarisation e-learning packages for staff.</p>
          <p>The half hour demonstrations will be available on PALMs very soon.</p>
        </div>
        
        <%= partial 'partials/champion' %>
				
				<div class="well">
					<h2>Does your computer need upgrading?</h2>
					<p>Some people still have Windows XP computers and these will need to be updated to the New Corporate Desktop in order to access the new technology. Please contact the IT Service Desk on ext:15369 if you haven’t got a New Corporate Desktop computer.</p>
					<p>Computers which have New Corporate Desktop installed will say Windows 7 enterprise when you log on.</p>
					<p> Computers which are still Windows XP and need to be updated will say Windows XP when you click ctrl + alt + delete together at once.</p>
				</div>
        
        <%= partial 'partials/contact' %>
      </div>
    </div>
  </div>
</section>

<%= partial '/partials/news_block' %>