---
title: Transformation Through Technology
---

<section class="site-banner">
  <div class="container">
    <div class="row banner">
      <div class="col-md-12">
				<% link_to 'programme.html' do %>
					<%= image_tag 't3_banner.png', class: 'img-responsive', width: "100%" %>
				<% end %>
				<div class="well">
					<p class="lead text-center">Transformation Through Technology is a multi -million pound transformational change programme centred on further improving patient care delivered in our hospitals and in the community</p>
				</div>
      </div>
    </div>
  </div>
</section>

<section class="site-redirect">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
         <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><a href="/t3/patients.html">Are you a patient or member of the public? Find out how how these changes will improve quality of care - Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-blocks">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
				<% link_to '/programme/edms.html' do %>
					<%= image_tag 'staff_edms_web.jpg', class: "img-responsive hidden-xs" %>
				<% end %>
        <div class="well">
          <h3 class="visible-xs">Electronic Document Management System (EDMS)</h3>
          <p>Converting patient casenotes into an electronic format so that they can
            be viewed and managed on screen 24/7</p>
          <%= link_to 'Find out more', "/programme/edms.html", class: "btn btn-edms"%>
          
          <a href="/t3/programme/edms.html" class="btn btn-edms">Find out more</a>
        </div>
      </div>

      <div class="col-sm-4">
				<% link_to '/programme/epr.html' do %>
					<%= image_tag 'staff_epr_web.jpg', class: "img-responsive hidden-xs" %>
				<% end %>
        <div class="well">
          <h3 class="visible-xs">Electronic Patient Record (EPR)</h3>
          <p>Recording of all patient information electronically on one system. Enabling information sharing, electronic prescribing and electronic clinic
            management</p>
          <a href="/t3/programme/epr.html" class="btn btn-epr">Find out more</a>
        </div>
      </div>

      <div class="col-sm-4">
				<% link_to '/programme/cp.html' do %>
					<%= image_tag 'staff_cp_web.jpg', class: "img-responsive hidden-xs" %>
        <% end %>
				<div class="well">
          <h3 class="visible-xs">Clinical Portal (CP)</h3>
          <p>Linking up of all existing computer systems, meaning you only have to log
            in once to view all patient information systems on one screen.</p>
          <a href="/t3/programme/cp.html" class="btn btn-cp">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="quote-banner">
  <div class="container">
    <div class="row well banner">
      <div class="col-md-10 col-md-offset-1">
        <blockquote>
					<%= image_tag 'throssel.jpg', class: "hidden-xs pull-right" %>
          <p><i class="fa fa-quote-left"></i> The five year Transformation through Technology programme will see changes in everything we do and bring huge benefits for our patients by bringing faster, more efficient and joined up systems for staff across the Trust to use. <i class="fa fa-quote-right"></i></p>
          <footer>Dr David Throssell, Medical Director, Sheffield Teaching Hospitals NHS Foundation Trust</footer>
        </blockquote>
      </div>

    </div>
  </div>
</section>

<section class="video-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <iframe width="100%" height="300" src="https://www.youtube.com/embed/gg-8c9MBrjo?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          <h3>Hospital of the future</h3>
          <p class="lead">We are one of the first hospitals in the country to have a ’Hospital of the Future’ innovation centre - an ideal environment for staff to come and try out our new technology</p>
          <a href="/t3/programme/training.html#hospital-of-the-future" class="btn btn-primary">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial 'partials/news_block' %>