---
title: "News - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/t3/index.html">Home</a></li>
        <li class="active">News &amp; Events</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>News &amp; Events</h2>
          <p class="lead">Catch up with the latest news and developments from the transformation through technology project</p>
        </div>
        
        <% data.news.article.each do |x| %>
        <article class="well">
          <a href="<%= x['slug'] %>"><h2><%= x['title'] %></h2></a>
          <p class="lead"><%= x['intro'] %></p>
          <%= link_to 'Find out more', x['slug'], class: "btn btn-primary" %>
        </article>
        <% end %>
        
      </div>
     
      
      
      <div class="col-md-4">
        <div class="well">
          <h3>Recent News &amp; Events</h3>
          <ul class="list-unstyled">
          <% data.news.article.each do |x| %>
            <li><a href="<%= x['slug'] %>"><%= x['title'] %></a></li>
          <% end %>
          </ul>
        </div>
        
       <%= partial 'partials/contact' %>
        
       <%= partial 'partials/champion' %>
       
      </div>
      
    </div>
  </div>
</section>