---
title: "About - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">About the programme</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "index.html" %></li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
</section>


<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What’s changing?</h2>
          <p class="lead">Transformation Through Technology is a transformational change programme centred on improving patient care.</p>
          <p>As a Trust, we are investing £35 million over the next five years in this programme. Transformation Through Technology is significantly changing the way we work and deliver care. With the help of new technology, in future we will have:/p>
          <ul>
            <li>Quicker hospital admission and discharge</li>
            <li>Better assessment and more informed treatment because previous medical records will be available instantly</li>
            <li>Quicker inpatient admission through Advanced Bed Management</li>
            <li>Electronic alerts for allergies and safeguarding issues</li>
            <li>Clinic lists available electronically with patient casenote history</li>
            <li>Electronic prescribing</li>
            <li>More concise appointment letters</li>
            <li>Less repetition of the same questions for the patient</li>
            <li>Quicker diagnosis as immediate patient history available</li>
            <li>Remote access to patient details, particularly for community health staff</li>
            <li>Casenotes available immediately across all sites</li>
            <li>Electronic white boards on wards to aid patient flow</li>
            <li>Single Sign On so you view patient details on 19 different systems with just one password</li>
            <li>Multiple staff able to view casenotes at the same time</li>
          </ul>
          <p>It’s not just about upgrading technology, it’s about completely changing the way we work. This programme will give us the best technology and patient information so we can provide the best patient care. To make this a success, all staff, regardless of their role, are encouraged to get involved and be aware of the changes.</p>
        	<p>The three new systems are:</p>
					<ul>
						<li>Electronic Patient Record</li>
						<li>Electronic Document Management System</li>
						<li>Clinical Portal</li>
					</ul>
					<p>Go live for the new systems is Autumn 2015 but the opportunities for new ways of working will continue beyond this.</p>
				</div>
				
				<div class="well" id="hospital-of-the-future">
          <h2>Hospital of the Future Training Center</h2>
          <p class="lead">We are one of the first hospitals in the country to have a ‘Hospital of the Future’ innovation centre</p>
          <p>The Hospital of the Future is a fully equipped clinical environment which includes our planned clinical information systems, so staff can experience, influence and familiarise themselves with how our business will operate in the future.</p>
          <%= link_to 'Find out more', '/programme/training.html#hospital-of-the-future', class: "btn btn-block btn-primary" %>
				</div>
				
				<div class="well">
					<h2>Newsletters</h2>
					<p>Catch up with news and development in our regular newsletters. Explore our newsletters below:</p>
					<ul class="list list-inline">
						
						<li>
							<h4 class="newsletter-header">EDMS - Sept</h4>
							<% link_to '/files/edms_newsletter_sept.pdf' do %>
								<%= image_tag 'news_edms_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
						<li>
							<h4 class="newsletter-header">EPR - Sept</h4>
							<% link_to '/files/epr_newsletter_sept.pdf' do %>
								<%= image_tag 'news_epr_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
						<li>
							<h4 class="newsletter-header">CP - Sept</h4>
							<% link_to '/files/cp_newsletter_sept.pdf' do %>
								<%= image_tag 'news_cp_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
				</ul>
				</div>
        
        <div class="well">
          <ul class="list-inline text-center">
						 <li><%= link_to 'Staff Training', '/programme/training.html'  %></li>
            <li><%= link_to 'News and Events', "news.html" %></li>
            <li><%= link_to 'Meet the Team', "team.html" %></li>
            <li><%= link_to 'Hospital of the Future', "/programme/training.html#hospital-of-the-future" %></li>
          </ul>
        </div>
        
      </div>
      
      <div class="col-md-4" role="aside">
        
				
				<% link_to '/programme/edms.html' do %>
					<%= image_tag 'staff_edms_web.jpg', class: "img-responsive hidden-xs" %>
				<% end %>
        <div class="well">
          <% link_to '/programme/edms.html' do %>
            <h3 class="visible-xs visible-sm">Electronic Document Management System (EDMS)</h3>
          <% end %>
          <p>Converting patient casenotes into an electronic format so that they can
            be viewed and managed on screen 24/7</p>
          <%= link_to 'Find out more', "/programme/edms.html", class: "btn btn-edms" %>
        </div>
        
				<% link_to '/programme/epr.html' do %>
					<%= image_tag 'staff_epr_web.jpg', class: "img-responsive hidden-xs" %>
				<% end %>
        <div class="well">
          <% link_to '/programme/epr.html' do %>
            <h3 class="visible-xs visible-sm">Electronic Patient Record (EPR)</h3>
          <% end %>
          <p>Recording of all patient information electronically on one system. Will
            enable information sharing, electronic prescribing and electronic clinic
            management</p>
          <%= link_to 'Find out more', "/programme/epr.html", class: "btn btn-epr" %>
        </div>
        
				<% link_to '/programme/cp.html' do %>
					<%= image_tag 'staff_cp_web.jpg', class: "img-responsive hidden-xs" %>
        <% end %>
        <div class="well">
          <% link_to '/programme/cp.html' do %>
            <h3 class="visible-xs visible-sm">Clinical Portal (CP)</h3>
          <% end %>
          <p>Linking up of all existing computer systems, meaning you only have to log
            in once to view all patient information systems on one screen.</p>
          <%= link_to 'Find out more', "/programme/cp.html", class: "btn btn-cp" %>
        </div>
      </div> 
    </div>
  </div>
</section>

<%= partial 'partials/news_block' %>