---
title: "Meet the Team - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Programme Team</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/t3/index.html">Home</a></li>
        <li class="active">Team</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>Meet the team</h2>
          <p>From the start of the Transformation Through Technology programme through to the end, maximum involvement and planning from clinical and other front line staff is essential  to ensure the systems support our new ways of working. The following roles and groups are now in place to ensure this happens.</p>
        </div>
          
        <div class="well">
          <ul class="list-inline text-center">
            <li><a href="#central">Project Team</a></li>
            <li><a href="#operational">Operational Change Managers</a></li>
            <li><a href="#working">Working Group</a></li>
          </ul>
        </div>
          
        <div class="well">
          <h2 id="operational">Operational Change Managers</h2>
          <ul class="media-list">
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="http://placehold.it/150x150" alt="image of team member">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Name of person</h4>
                <p class="lead team-lead">Their Job title</p>
                <p>What they do in plain English. In gravida nulla. Nulla vel metus scelerisque ante
                  sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
                  viverra turpis.</p>
              </div>
            </li>
          </ul>
        </div>

        
        <div class="well">
          <h2 id="working">Working Groups</h2>
          <ul class="media-list">
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="http://placehold.it/150x150" alt="image of team member">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Name of person</h4>
                <p class="lead team-lead">Their Job title</p>
                <p>What they do in plain English. In gravida nulla. Nulla vel metus scelerisque ante
                  sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
                  viverra turpis.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-4" role="aside">
				
        <%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
        
        <div class="well">
          <h3>Further resources</h3>
					<h4>Transformation through Technology Newsletters</h4>
          <ul class="list list-inline">
						
						<li>
							<h4 class="newsletter-header">EDMS - Sept</h4>
							<% link_to '/files/edms_newsletter_sept.pdf' do %>
								<%= image_tag 'news_edms_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
						<li>
							<h4 class="newsletter-header">EPR - Sept</h4>
							<% link_to '/files/epr_newsletter_sept.pdf' do %>
								<%= image_tag 'news_epr_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
						<li>
							<h4 class="newsletter-header">CP - Sept</h4>
							<% link_to '/files/cp_newsletter_sept.pdf' do %>
								<%= image_tag 'news_cp_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
				</ul>
        </div>
        
      </div>
    </div>
  </div>
</section>

<%= partial 'partials/news_block' %>