---
title: "Meet the Team - Transformation Through Technology"
---

<%=   partial "partials/metatags", locals: { 
                                         meta_title: "Meet the Team - Transformation Through Technology",
                                         meta_desc: "The Transformation through Technology programme is supported by a team of several project managers and owners including staff representitives from each clinical and non-clinical department which helps guide and support the implementation of several key projects",
                                         sm_title: "Meet our Transformation through Technology Project Team",
                                         sm_image: "http://transformation.sth.nhs.uk/images/nurses-with-computers.jpg",
                                         og_url: "http://transformation.sth.nhs.uk/team.html"
                                        }   %>

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Programme Team</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li class="active">Team</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>Meet the team</h2>
          <p>From the start of the Transformation Through Technology programme through to the end, maximum involvement and planning from clinical and other front line staff is essential  to ensure the systems support our new ways of working. The following roles and groups are now in place to ensure this happens.</p>
        </div>
          
        <div class="well">
          <ul class="list-unstyled">
            <li><a href="#CCIO">Chief Clinical Information Officers (CCIOs)</a></li>
            <li><a href="#NMCIO">Nursing and Midwifery Information Officers (NMIO)</a></li>
            <li><a href="#Clinical-leads">Clinical lead</a></li>
						<li><a href="#COCL">Chief Operational Change Lead</a></li>
          </ul>
        </div>
				
				<div class="well">
					<h2 id="CCIO">Chief Clinical Information Officers (CCIOs)</h2>
					<p>The Programme is supported by two Chief Clinical Information Officers (CCIOs).</p>								
					<ul class="media-list list-inline list-staff">
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'karen_selby.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Karen Selby</h4>
								Consultant, Obstetrics, Gynaecology and Neonatology
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'rhona_maclean.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Rhona Maclean</h4>
								Consultant Haematologist
							</div>
						</li>
						
					</ul>
				</div>
				
				<div class="well">
					<h2 id="NMCIO">Nursing and Midwifery Information Officers (NMIO)</h2>
					<p>The Transformation through Technology programme is supported by a Nursing and Midwifery Information Officer and a Deputy Nursing and Midwifery Information Officer</p>
					
					<ul class="media-list list-inline list-staff">
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'lisa_locker.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Lisa Locker</h4>
								Nursing and Midwifery Clinical Information Officer
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'lisa_leach.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Lisa Leach</h4>
								Deputy Nursing and Midwifery Clinical Information Officer
							</div>
						</li>
						
					</ul>
					
					
				</div>
				
								
				<div class="well">
					<h2 id="COCL">Chief Operational Change Lead</h2>
					<p>Eight Operational Change Managers will lead the programme within each of the eight Care Groups. They are managed by the appointment of a new Chief Operational Change Lead.</p>
					
					<ul class="media-list list-inline">
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'lisa_needham.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Lisa Needham</h4>
								Chief Operational Change Lead<br>
								Lisa formally worked as a general manager, special projects at STH.
								She worked most recently on surgical flow and theatre productivity.
							</div>
						</li>
						
					</ul>
					
					<h4>Operational Change Managers</h4>
					
					<ul class="media-list list-inline list-staff">
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'anne_hilton.jpg', height: "150"  %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Anne Hilton</h4>
								Specialised Cancer, Medicine and Rehabilitation
                Business Processes
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'ayesha_heaton.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Ayesha Heaton</h4>
								Combined Community and Acute
                Benefits
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'gilian_piper.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Gilian Piper</h4>
								Head &amp; Neck
                Data Quality &amp; Timeliness
							</div>
						</li>
            
            <li class="media">
							<div class="media-left">
									<%= image_tag 'lance_burn.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Lance Burn</h4>
								<abbr title="Laboratories, Engineering, Gynaecology, Imaging, Obstetrics, Neonatal">LEGION</abbr>
							  Business Continuity
              </div>
						</li>
            
            <li class="media">
							<div class="media-left">
									<%= image_tag 'lorraine_rogers.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Lorraine Rogers</h4>
								South Yorkshire Regional Services
                Business Cutover and Roll out to Optimisation
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'louise_jepson.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Louise Jepson</h4>
								Emergency Care
                18 Week RTT
              </div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'nazreen_iqbal.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Nazreen Iqbal</h4>
								Surgical Services
                Training
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'jon_wrend.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Jon Wrend</h4>
								Operating Services, Critical Care and Anaesthesia (OSCCA)
                Communications
							</div>
						</li>
            
            
            <li class="media">
							<div class="media-left">
									<%= image_tag 'placeholder_no_text.png', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Michael Fordyce</h4>
								Corporate Functions
                18 Week RTT
							</div>
						</li>
						
					</ul>
					
				</div>
				
				<div class="well">
					<h2 id="Clinical-leads">Clinical leads</h2>
					<p>We're pleased to have a number of clinicians join the team. The following staff will link up to our two Chief Clinical Information Officers and support the implementation of the programme across the Trust.</p>
					
					<ul class="media-list list-inline list-staff">
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'jo_hornbuckle.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Dr Joanne Hornbuckle</h4>
								Consultant Medical Oncologist
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'nick_fardon.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Dr Nick Fardon</h4>
								Renal Consultant
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag '1_adrian_scott.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Dr Adrian Scott</h4>
								Consultant Clinical Lead for Diabetes
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'thomas_carroll.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mr Tom Carroll </h4>
								Consultant Neurosurgeon
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag '1_ganesh_rao.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Dr Ganesh Rao </h4>
								Consultant Neurophysiologist
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'chris_baldwin.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mr Chris Baldwin </h4>
								Consultant Plastic Surgeon
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'aj.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mr AJ Stephenson  </h4>
								Consultant Plastic and Burns Surgeon
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'ken_hastie.png', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mr Ken Hastie  </h4>
								Consultant Urological Surgeon Clinical Lead for Urology
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'peter_jackson.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Dr Peter Jackson  </h4>
								Consultant in Medicine and Therapeutics
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'guy_veall.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Dr Guy Veall  </h4>
								Consultant Anaesthetist
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'andrew_gordon.jpg', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mr Andrew Gordon  </h4>
								Consultant Orthopaedic Surgeon
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'placeholder_no_text.png', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Dr Smitha Rajaram   </h4>
								Radiology Consultant
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'placeholder_no_text.png', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mr Luke Durham </h4>
								Consultant ENT Surgeon
							</div>
						</li>
						
						<li class="media">
							<div class="media-left">
									<%= image_tag 'placeholder_no_text.png', height: "150" %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mr Athur Harikrishnan </h4>
								General Surgery Consultant
							</div>
						</li>
					</ul>
				</div>
				

				
      </div>
      
      <div class="col-md-4" role="aside">
				
        <%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
        <%= partial 'partials/newsletters' %>

        
      </div>
    </div>
  </div>
</section>

<%= partial 'partials/news_block' %>